*, *::after, *::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

input, button {
    font: inherit;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, svg {
    color: inherit;
    fill: currentColor
}

img {
    display: block;
}

button:not(:disabled) {
    cursor: pointer;
}