@import url(reset.css);
@import url(variables.css);
@import url(utils.css);

@import url(header.css);
@import url(details.css);
@import url(slider.css);
@import url(chevron.css);
@import url(day-hour-weather.css);
@import url(footer.css);

body {
    font: normal 400 20px/1.2 Raleway, system-ui, sans-serif;
    font-optical-sizing: auto;
    font-variant-numeric: lining-nums;
    background: url(../public/partly-cloudy-2.jpg) center/cover no-repeat fixed;
    padding-block: var(--size-l);
    min-width: 1280px;
    min-height: 100dvh;
    margin: 0;
}

@media screen and (width < 1280px) {
    body {
        padding: var(--size-l);
        min-width: unset;
    }
}

@media screen and (width < 1024px) {
    body {
        padding: var(--size-ml);
        min-width: unset;
    }
}

@media screen and (width < 768px) {
    body {
        padding: var(--size-m);
        min-width: 375px;
    }
}

.content {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    background-color: #7070701A;
    background-color: var(--color-grey-alpha, #7070701A);
    border-radius: 8px;
    border-radius: var(--size-s, 8px);
    backdrop-filter: blur(25px);
}

.today {
    max-height: 472px;
    padding: 32px;
    padding: var(--size-l, 32px);

    display: flex;
    gap: 16px;
    gap: var(--size-m, 16px);
}

@media screen and (width < 1024px) {
    .today {
        max-height: unset;
        flex-direction: column;
        align-items: center;
        gap: var(--size-xl);
        padding: var(--size-ml);
    }
}

@media screen and (width < 768px) {
    .today {
        max-height: unset;
        flex-direction: column;
        align-items: center;
        gap: var(--size-l);
        padding: var(--size-m);
    }
}

.today-info {
    flex: 1;

    color: #F5F4F4;
    color: var(--color-white, #F5F4F4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 306px;

    padding: 8px;
    padding: var(--size-s, 8px);
}

@media screen and (width < 1024px) {
    .today-info {
        padding-block: 0;
    }
}

@media screen and (width < 768px) {
    .today-info {
        min-height: 184px;
    }
}

.today-info-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    gap: var(--size-s, 8px);
}

@media screen and (width < 1024px) {
    .today-info-location {
        gap: 6px;
    }
}

@media screen and (width < 768px) {
    .today-info-location {
        gap: var(--size-xs);
    }
}

.today-info-location__city {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

@media screen and (width < 768px) {
    .today-info-location__city {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (width < 768px) {
    .today-info-location__day,
    .today-info-location__time {
        font-size: 14px;
        line-height: 16px;
    }
}

.today-info-location__day::first-letter {
    text-transform: capitalize;
}

.today-info__temp {
    font-size: 112px;
    font-weight: 700;
    line-height: 1;
}

@media screen and (width < 768px) {
    .today-info__temp {
        font-size: 56px;
    }
}

.today-info-other {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    gap: var(--size-s, 8px);
}

@media screen and (width < 1280px) {
    .today-info-other {
        gap: 6px;
    }
}

@media screen and (width < 768px) {
    .today-info-other {
        font-size: 14px;
        line-height: 16px;
        gap: var(--size-xs);
    }
}

.today-info-other-weather {
    display: flex;
    align-items: center;
    gap: 8px;
    gap: var(--size-s, 8px);
}

@media screen and (width < 768px) {
    .today-info-other-weather {
        font-size: 14px;
        line-height: 16px;
    }
}

.today-info-other-weather__icon {
    width: 24px;
    height: 24px;
}

@media screen and (width < 768px) {
    .today-info-other-weather__icon {
        width: 16px;
        height: 16px;
    }
}

.today-details {
    display: grid;
    grid-template: repeat(2, 196px)/repeat(3, 158px);
    gap: 16px;
    gap: var(--size-m, 16px);
}

@media screen and (width < 1280px) {
    .today-details {
        grid-template: repeat(2, 196px)/repeat(3, 158px);
        gap: var(--size-m);
    }
}

@media screen and (width < 1024px) {
    .today-details {
        grid-template: repeat(2, 196px)/repeat(3, 163px);
        gap: var(--size-sm);
    }
}

@media screen and (width < 768px) {
    .today-details {
        grid-template: repeat(2, 148px)/repeat(3, min(128px, calc((100% - 16px) / 3)));
        justify-content: center;
        gap: var(--size-s);
    }
}