:root {
    --size-xxs: 2px;
    --size-xs: 4px;
    --size-s: 8px;
    --size-sm: 12px;
    --size-m: 16px;
    --size-ml: 24px;
    --size-l: 32px;
    --size-xl: 48px;
    --size-xxl: 80px;



    --color-black: #202020;

    --color-semiblack: #545454;

    --color-grey: #707070;
    --color-grey-alpha: #7070701A;

    --color-semigrey: #A6A6A6;

    --color-lightgrey: #DADADA;
    --color-lightgrey-alpha: #DADADA66;

    --color-white: #F5F4F4;
    --color-white-alpha: #F5F4F466;



    --slider-mask-regular: linear-gradient(to right, #0000 var(--size-m), #000 var(--size-l), #000 calc(100% - var(--size-l)), #0000 calc(100% - var(--size-m)));
    --slider-mask-only-right: linear-gradient(to right, #0000 var(--size-m), #000 var(--size-m), #000 calc(100% - var(--size-l)), #0000 calc(100% - var(--size-m)));
    --slider-mask-only-left: linear-gradient(to right, #0000 var(--size-m), #000 var(--size-l), #000 calc(100% - var(--size-m)), #0000 calc(100% - var(--size-m)));
}
